//@import url('https://fonts.googleapis.com/css?family=Roboto+Serif:600.css');

@import 'colors.less';

#app-root-2023-food_price_index .app {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  .container {
    max-width: 700px;
    margin: auto auto;
    h3 {
      color: #000;
      font-size: 30px;
      font-weight: 700;
      line-height: 34px;
      margin: 0 0 5px 0;
    }
    h4 {
      color: rgba(0, 0, 0, 0.8);
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      margin: 0;
    }
    h5 {
      color: rgba(0, 0, 0, 0.8);
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      margin: 0;
    }
    .chart_container {
      position: relative;
      .year {
        bottom: 40px;
        color: rgba(0, 0, 0, 0.8);
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        position: absolute;
        right: 20px;
        .value {
          font-weight: bold;
        }
    }
    }
  }
}

@import 'basics.less';